


body{
    display: flex;
    flex:0 0 auto;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    padding: 0;

    background: url(bkgimg.png) ;
    background-size: cover;
    background-repeat: repeat;

    margin:0;
    padding:0;
    margin-top:15vh;

    gap:5vw;

    
}
    
.left{
    height:690px;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     gap:80px;
     
}


.button{
    display: flex;
    flex-direction: column;
    gap:47px;

}

button{
    
    min-width: 221px;
    min-height: 72px;
    flex-shrink: 0;

    border-radius: 12px;
    border: 0px #FFF;
    background: #cecece;
    

    box-shadow: 4px 15px 8.2px -1px rgba(182, 34, 51, 0.80);

    font-family: 'Mochiy Pop P One', sans-serif serif;

    align-self: center;

}

#brush{
    background-image: url('brushButton.png');
}

#rainbow{
    background-image: url('rainbowButton.png');
}

#darken{
    background-image: url('shadingButton.png');
}

#clear{
    background-image: url('clearButton.png');
}



button{
    width:10vw;
    height: 5vh;
    flex: 0 0 auto;
    padding:0;
    margin:0;
    gap:5px;
}


footer{
    
    width:388px;
    height: 58px;
    background: url('footer.png');
    background-size: contain;
    background-repeat: no-repeat;
}



.sketchBoard {
    width: 690.64px;
    height: 690px;

    min-width: 690.64px;
    min-height: 634px;

    flex:0 0 auto;

    
    
    background-image: url('sketchBoard.png');
    background-size:100% 100%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    
}

.screenContainer{
    height:596px;
    width:100%;
    display: flex;

}

.screen{
    display: flex;
    width: 525px;
    height: 525px;
    flex-shrink: 1;
    margin-left: 83px;
    margin-top: 80px;

    padding-left:5px;  
   box-sizing: border-box;

   align-items: center;

}  

.mainContainer {
   

    display:flex;

    border: thin solid white 0;
    flex-direction: column;
    flex:1 1;

    align-items: center;
    justify-content: center;
    padding-top: 5px;
    /* padding-left:1px; */
    padding-right: 3px;
    
    padding-bottom: 3px;
    align-self: center;
    padding-right: 0;

    

    box-sizing: content-box;
    background: url('mainContainer.png');
    background-size:contain;
    

}

.control{
    max-height:122px;
    width:100%;
    display: flex;

}

.colorPicker{
    width: 59.76px;
    height: 58px;

    max-width: 59.76px;
    max-height: 58px;

    margin-top:15px;
    margin-left:22px;
    
    margin-bottom: 22px;
    flex:0 0 auto;
    opacity: 0;
    
}

.eraser{
    width: 58px;
    height: 58px;

    max-width: 58px;
    max-height: 58px;

    margin-top:14px;
    margin-right:22px;
    margin-bottom: 24px;
    opacity: 0;
}


.slider {
    -webkit-appearance: none;
    width: 383px;
    height: 20px;
    background: #FFD02C;
    border: 1px solid goldenrod;
    outline: none;

    margin-top:30px;
    margin-bottom:44px;
    margin-left:71px;
    margin-right: 75px;

    filter: drop-shadow(4px 6px 1.2px #C32033);
  }
    
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 0px solid #FFF;
    background: #FFF;
    box-shadow: 5px 9px 5.9px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background: url('sliderThumb.png');
  }